<h1>newRapatolgVrach</h1>
<div class="container w-50">
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Bugun navbatda
    <span class="badge bg-danger badge-pill">{{bemorlar.length}}</span>
  </li>
</ul>
 </div> 



<div class="d-flex align-items-start mt-5">
  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</button>
    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</button>
    <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</button>
    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
  </div>
  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          

            {{#if bemorlar.length}}

        <ul class="list-group list-group-flush">
            {{#each bemorlar}}
  <li class="list-group-item"><h6>{{ism}}</h6></li>
  <li class="list-group-item"> {{familya}}</li>
  <li class="list-group-item">{{yili}}</li>
   {{/each}}
   {{!-- <p>Kechkim yoq</p> --}}
         {{/if}}
</ul>

        {{!-- {{#if bemorlar.length}}
        {{#each bemorlar}}
        <h5>{{ism}}</h5>

        <h6>
            {{familya}}
        </h6>

        <h6>
            {{ochistva}}
        </h6>

        <h6>
            {{yili}}
        </h6>
        {{/each}}
        {{else}}
            <p>Kechkim yoq</p>
         {{/if}}    --}}
    </div>
    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
  </div>
</div>

<div class="container text-center">
    {{#if bemorlar}}
       <h4 class="text-danger display-2">
        {{bemorlar.length}}
       </h4>   
       {{else}}
        <h4 class="text-danger">
          0
        </h4>
       {{/if}}
</div>