<h1 class="mt-3 text-center">Ortaped qabul bo`limi</h1>

<form method="post" action="ortapedIstor">
  <div class="container ">
 <label for="inputPassword4" class="mt-4">Oldin kelganlar :</label>
    <select class="form-select mt-2" aria-label="Default select example">
      {{#if ortapedBemorIstor}}
        {{#each ortapedBemorIstor}}
      <option value="1">{{ism}} {{familya}} {{ochistva}}</option>
        {{/each}}
      {{else}}
      <option value="1">Qabulda hechkim bo`lmagdan</option>
      {{/if}}
    </select>
    <button type="submit">Qabul</button>
    </div>
<hr class="mt-4">
</div>
</form>



 <div class="container">
  {{#if ortapedError}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Error!</strong> {{ortapedError}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}
  </div>

<form method="post" action="ortaped">
<div class="container mt-5">
    <div class="row">
    
        {{!-- <div class="form-row"> --}}
             <div class="col-6">
                <label for="inputEmail4">Bemorning Ismi:</label>
                <input type="text" name="ism" class="form-control mt-2" id="inputEmail4" placeholder="Bemorning Ismi">
             {{!-- </div> --}}
        </div>

        <div class="col-md-6">
      <label for="inputPassword4">Familya :</label>
      <input type="text" name="familya" class="form-control mt-2" id="inputPassword4" placeholder="Familya">
    </div>
  </div>


    
   <div class="row g-3">
  <div class="col">
    <label for="inputPassword4" class="mt-4">Ochistva :</label>
    <input type="text" name="ochistva" class="form-control mt-2" placeholder="Ochistva" aria-label="First name">
  </div>

  <div class="col">
    <label for="inputPassword4" class="mt-4">Tug`ulgan yili :</label>
    <input type="number" name="yili" class="form-control mt-2" placeholder="Tug`ulgan yili" aria-label="First name">
  
  </div>
</div>

    <button type="submit" class="btn btn-warning mt-4">Qabul qilindi</button>

</div>
</form>






